

/* Originally obtained from http://bluerobot.com/layouts
 * Copying most of the design from catb.org*/

.term-cmds{
    background: black;
    font-family: 'Liberation Sans';
    color: white;
    margin: 0;
    padding: 1px;
    
}
.last-modified{
	font-size: medium;
   
}
.heading{
	color: #1c71aa;
}
.logo{
	font-size: xx-large;

}
body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	}

h1 {
	color: #1c71aa;
	font: bold 100% "Arial", sans-serif;
	border-bottom: 1px solid #d3d3d3;
	padding: 5px;
	margin-top: 0px;
	position: relative;
	margin-bottom: 6px;
	font-size: xx-large;
	}
p {
	font-family: helvetica, sans-serif;
	margin:0 0 1em 0;
	padding:0;
	}
#Content>p {text-indent:2em; margin:0;}
#Content>p+p {text-indent:2em; margin-top: 1ex;}

a {
	text-decoration:none;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:hover {background-color:#ccc;}

#Header {
	font-weight:600;
	font-size: x-large;	/* should be same as an h1 header */
	margin:20px 0 10px 0;
	padding:0.5ex 0 .5ex 20px;
	border-style:solid;
	border-color:black;
	border-width:1px 0;
	background-color:#eee;
	

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#Header {height:60px;}

#Content {
	margin:0 210px 50px 10px;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:163px;
	right:20px;
	width:172px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	line-height:17px;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:150px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}



